{% load static %}

{% include "head.html" %}
<!-- 侧边栏 -->
    <div class="ui inverted left vertical sidebar menu">
        <div class="item">
            <h2 class="ui blue header">dataplatform</h2>
        </div>
        <div class="item">
            <a class="header" href="{% url 'data_platform:index' %}">主页</a>
        </div>
                
        <div class="item">
            <div class="header">C919故障问题</div>
        </div>                        
    </div>
    <br><br><br><br>
    <!-- 侧边栏图形 -->
    <i class = "big sidebar icon" id="sidebar"></i>
    
    <!-- 面包屑导航 -->
    <div class="ui breadcrumb">
        <a class="section" href="{% url 'data_platform:index' %}">主页</a>
        <i class="right angle icon divider"></i>
        <a class="section" href="{% url 'data_platform:model_aircraft_data' %}">型号飞机数据</a>
        <i class="right angle icon divider"></i>
        <div class="active section">C919故障问题</div>
    </div>
<!--Semantic ui sidebar display-->
<script>
    $('#sidebar').click(function(){

        $('.ui.sidebar').sidebar('toggle');
    });
</script>
{% include "foot.html" %}