{% load static %}
<html>
<body>
  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable nine column centered grid">
          <div class="three wide column">
          <h4 class="ui inverted header">链接</h4>
          <div class="ui inverted link list">
            <a href="http://ipt.comac.intra/sites/srmt/Pages/yun.aspx" class="item" target = "_blank"><div class="ui small inverted buttons"><div class="ui inverted button">特性云</div></div></a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">实施</h4>
          <div class="ui inverted link list">
            <p>特性工程大数据团队</p>
            <p>运营安全数据库团队</p>
            <p>特性工程综合分析室</p>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">联系我们</h4>
          <a href="mailto:mabiao@comac.intra" class="item"><img src="/media/image/logo_s-07.png" height = "60px"></a>
        </div>
      </div>
    </div>
    <div class="ui center aligned container">
      <div class="ui inverted section divider"></div>
      <div style = "white-space:pre"><b>2019-2022 中国商用飞机有限责任公司SIA工作组</div>
      <div style = "white-space:pre"><b>Copyright </b>© </b>All rights reserved</div>
    </div>
  </div>
  <!--[if lt IE 8]>
  <script src="js/icon-font-ie7.js"></script>
  <script src="js/icon-font-ie7-24.js"></script>
  <![endif]-->
</body>
</html>
