{% load static %}
{% include "head.html" %}
<body>
    <!-- Sidebar Menu -->
    <div class="ui  inverted left vertical sidebar menu">
        <div class="item">
            <h2 class="ui blue header">机型筛选</h2>
        </div>
        <div class="item">    
<!--
          {% for at in aircraft_types %}
            <a class="item" href="{% url 'data_platform:MTBUR_list' at %}">{{at}}</a>
          {% endfor %}  
-->
        </div>
    </div> 
    <br><br><br><br>             
    <!-- 侧边栏图形 -->
    <i class = "big sidebar icon" id="sidebar"></i>
    <!-- 面包屑导航 -->
    <div class="ui breadcrumb">
            <a class="section" style=color:black href="{% url 'data_platform:index' %}">主页</a>
            <i class="right angle icon divider"></i>
            <a class="section" style=color:black href="{% url 'data_platform:similarity_plane' %}">相似机型数据</a>
            <i class="right angle icon divider"></i>
            <a class="section" style=color:black href="{% url 'data_platform:part_replacement' %}">部件拆换</a>
            <i class="right angle icon divider"></i>
            <a class="active section" style=color:black>平均非计划拆换时间</a>
    </div>
    <div class="ui divider"></div>
        <div class="ui container">
          <table id="accident" class="ui striped table" >
              <thead>
              <tr>
                <th>件号</th>
                <th>件号描述</th>
                <th>ATA章节号</th>
                <th>系统名称</th>
                <th>年份</th>
                <th>QPA</th>
                <th>非计划拆换数</th>
                <th>确认故障数</th>
                <th>部件飞行小时</th>
                <th>MTBUR</th>
                <th>MTBF</th>
              </tr>
              </thead>
              <tbody>
              </tbody>
              <tfoot>
              <tr>
                <th>ATA章节号</th>
                <th>系统名称</th>
                <th>件号</th>
                <th>件号描述</th>
                <th>年份</th>
                <th>QPA</th>
                <th>非计划拆换数</th>
                <th>确认故障数</th>
                <th>部件飞行小时</th>
                <th>MTBUR</th>
                <th>MTBF</th>
              </tr>
              </tfoot>
          </table>
        </div>
</body>
{% include "foot.html" %}
<!-- 脚本部分用来处理表格样式等内容, 整个datatables用两个部分来控制, table部分控制数据和交互, script部分控制展试, 分页和搜索等功能-->

<script type="text/javascript">
//设置初始化ajax的datatable的函数 

    
$(document).ready(function(){
    var lengthMenuParam = 
        '<div class="btn-group">'
        '</div>';

    //获取url中的参数，从而获得变量urlParam
    var str = getQueryString("MTBUR_list");
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var reg_rewrite = new RegExp("(^|/)" + name + "/([^/]*)(/|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        var q = window.location.pathname.substr(1).match(reg_rewrite);
        if(r != null){
            return unescape(r[2]);
        }else if(q != null){
            return unescape(q[2]);
        }else{
            return null;
        }
    }
//    console.log(str)
    if(str == "ALL"){
        var urlParam = "{% url 'data_platform:MTBUR_list' 'ALL' %}";
    }else if(str == "A319"){
        var urlParam = "{% url 'data_platform:MTBUR_list' 'A319' %}";
    }else if(str == "A320"){
        var urlParam = "{% url 'data_platform:MTBUR_list' 'A320' %}";
    }else if(str == "A321"){
        var urlParam = "{% url 'data_platform:MTBUR_list' 'A321' %}";
    }else if(str == "A330"){
        var urlParam = "{% url 'data_platform:MTBUR_list' 'A330' %}";
    }else if(str == "B737"){
        var urlParam = "{% url 'data_platform:MTBUR_list' 'B737' %}";
    }else if(str == "B787"){
        var urlParam = "{% url 'data_platform:MTBUR_list' 'B787' %}";
    }
    

    var columnsParam = [
        {data:"part_number"},
        {data:"part_number_description"},
        {data:"ata_chapter"},
        {data:"ata_zh_title"},
        {data:"year"},
        {data:"QPA"},
        {data:"unscheduled_replacement_amounts"},
        {data:"confirmed_failure_amounts"},
        {data:"part_flight_hours"},
        {data:"MTBUR"},
        {data:"MTBF"},
    ];
    var table = $("#accident").DataTable(initDataTable(lengthMenuParam, urlParam, columnsParam));


    //分列查找内容
    // Setup - add a text input to each footer cell
    $('#accident tfoot th').each( function () {
        var title = $('#accident thead th').eq( $(this).index() ).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    });
    // Apply the search
    table.columns().eq( 0 ).each( function ( colIdx ) {
        $( 'input', table.column( colIdx ).footer() ).on( 'keyup change', function () {
            table.column( colIdx ).search( this.value ).draw();
        });
    });
    //将tfoot挪到表格上方
    $('#accident tfoot tr').appendTo('#accident thead');
    //高亮鼠标停留的行和列
    //高亮鼠标停留的列
    var lastIdx = null;
    $('#accident tbody')
        .on( 'mouseover', 'td', function () {
            var colIdx = table.cell(this).index().column;
            if ( colIdx !== lastIdx ) {
                $( table.cells().nodes() ).removeClass( 'highlight' );
                $( table.column( colIdx ).nodes() ).addClass( 'highlight' );
            }
        } )
        .on( 'mouseleave',  function () {
            $( table.cells().nodes() ).removeClass( 'highlight' );
        } );

    //高亮鼠标停留的行
    $('#accident tbody')
        .on( 'mouseover', 'tr', function () {
            if ( !$(this).hasClass('highlight')) {
                $(this).addClass( 'highlight' );
            }
        } )
        .on( 'mouseleave', 'tr', function () {
            if ( $(this).hasClass('highlight')) {
                $(this).removeClass( 'highlight' );
            }
        })

//    修改设置搜索框、显示框等位置
    $('#accident_length').addClass('lengthToLeft')
    $('#accident_filter').addClass('filterToLeft')
    $('#accident_paginate').addClass('paginateToLeft')

//  设置横向滚动条
    $("#accident").wrapAll("<div style='overflow-x:auto'>");
});
    
// 在整个页面左侧添加侧边栏
$('#sidebar').click(function(){
    $('.ui.sidebar').sidebar('toggle');
});
    
</script>