{% load static %}
{% include "head.html" %}
          
<!--     Sidebar Menu -->
<div class="ui  inverted left vertical sidebar menu">
    <div class="item">
        <h2 class="ui blue header">预留</h2>
    </div>
    <div class="item">
        <h2 class="ui blue header">预留</h2>
    </div>
    <div class="item">
        <h2 class="ui blue header">预留</h2>
    </div>
</div>
<br><br><br><br>
<!-- 侧边栏图形 -->
<i class = "big sidebar icon" id="sidebar"></i>
<!-- 面包屑导航 -->
<div class="ui breadcrumb">
  <a class="section" style=color:black href="{% url 'data_platform:index' %}">主页</a>
  <i class="right angle icon divider"></i>
  <a class="active section" style=color:black>术语定义</a>
</div> 
<div class="ui divider"></div>
      <div class="ui container">
            <table id="accident" class="ui striped table">
                <thead>
                <tr>
                  <th>术语</th>
                  <th>适用机型</th>
                  <th>术语说明</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                  <th>术语</th>
                  <th>适用机型</th>
                  <th>术语说明</th>
                </tr>
                </tfoot>
                <tbody>
                </tbody>
            </table>

            <p>
              <button class = "ui button" id="addRow">添加行</button>
              <button class = "ui button" id="delRow">删除选中的行</button>
            </p>
      </div>

{% include "foot.html" %}
<!-- 脚本部分用来处理表格样式等内容, 整个datatables用两个部分来控制, table部分控制数据和交互, script部分控制展试, 分页和搜索等功能-->
<!-- Js for datatables. -->
<script type="text/javascript">
//设置初始化ajax的datatable的函数 
    
$(document).ready(function(){
    var lengthMenuParam = 
        '<div class="btn-group">'
        '</div>';  
    var urlParam = "{% url 'data_platform:get_term_list'%}";
    var columnsParam = [
        {data:"title"},
        {data:"acmodel"},
        {data:"content"}
    ];
    var table = $("#accident").DataTable(initDataTable(lengthMenuParam, urlParam, columnsParam));

    //分列查找内容
    // Setup - add a text input to each footer cell
    $('#accident tfoot th').each( function () {
        var title = $('#accident thead th').eq( $(this).index() ).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    });
    // Apply the search
    table.columns().eq( 0 ).each( function ( colIdx ) {
        $( 'input', table.column( colIdx ).footer() ).on( 'keyup change', function () {
            table.column( colIdx ).search( this.value ).draw();
        });
    });
    //将tfoot挪到表格上方
    $('#accident tfoot tr').appendTo('#accident thead');
    //高亮鼠标停留的行和列
    //高亮鼠标停留的列
    var lastIdx = null;
    $('#accident tbody')
        .on( 'mouseover', 'td', function () {
            var colIdx = table.cell(this).index().column;
            if ( colIdx !== lastIdx ) {
                $( table.cells().nodes() ).removeClass( 'highlight' );
                $( table.column( colIdx ).nodes() ).addClass( 'highlight' );
            }
        } )
        .on( 'mouseleave',  function () {
            $( table.cells().nodes() ).removeClass( 'highlight' );
        } );

    //高亮鼠标停留的行
    $('#accident tbody')
        .on( 'mouseover', 'tr', function () {
            if ( !$(this).hasClass('highlight')) {
                $(this).addClass( 'highlight' );
            }
        } )
        .on( 'mouseleave', 'tr', function () {
            if ( $(this).hasClass('highlight')) {
                $(this).removeClass( 'highlight' );
            }
        })

//    修改设置搜索框、显示框等位置
    $('#accident_length').addClass('lengthToLeft')
    $('#accident_filter').addClass('filterToLeft')
    $('#accident_paginate').addClass('paginateToLeft')

//  设置横向滚动条
    $("#accident").wrapAll("<div style='overflow-x:auto'>");
});
    
// 在整个页面左侧添加侧边栏
$('#sidebar').click(function(){
    $('.ui.sidebar').sidebar('toggle');
});
    
</script>

