{% load static %}
{% include "head.html" %}
    <br><br><br>
    <div class="container">
        <div class='ui two centered cards'>  
          <div class="ui card">
              <div class="content">
                <div class="header" style=color:deepskyblue >数据更新2019.9.1-------</div>
                <br>
                <div class="ui test container">
                  <div class="ui ordered list">
                    <div class="item">新上线了特性术语，可以在参考数据>术语定义中查看</div>
                    <br/>
                    <div class="item">相似机型数据更新了，目前由四个板块（运营数据，部件拆修，异常事件，故障模式库）组成，本月会更新更多相似机型数据</div>
                  </div>
                  <br/>
                </div>
                <div class="header" style=color:deepskyblue >功能更新2019.9.1-------</div>
                <br>
                <div class="ui test container">
                  <div class="ui ordered list">
                    <div class="item">现在可以从数据表展示页方便的下载/复制数据，点击数据表上方“copy”按钮可复制表内全部数据到任意地方；点击“excel”按钮，下载该数据表的excel格式；点击“print”按钮，打印该数据表</div>
                    <br/>
                    <div class="item">增加了数据表导航页面，可以通过首页相似机型数据，运营数据，部件拆修，异常事件等导航页查看数据概览</div>
                    <br/>
                    <div class="item">子页面增加了面包屑菜单栏，可以方便的定位到您当前的页面位置，或返回至其父页</div>
                    <br/>
                    <div class="item">相似机型数据表均添加了按机型筛选功能，在数据页中，点击面包屑导航栏最左边的“菜单”按钮，可选择显示所有数据或按机型筛选的数据</div>
                    <br/>
                    <div class="item">数据表增加了数据高亮显示，分栏搜索，全表搜索，滚动条显示等功能</div>
                  </div>
                  <br/>
                </div>
              </div>
              <div class="extra content">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="right floated author">
                    <img class="ui avatar image" src="{% static 'images/login/icon.png' %}"> SIA
                  </div>
            </div>
          </div>
        </div>    
      </div>
</body>
{% include "foot.html" %}