{% load static %}
{% include "head.html" %}
<body>
    <div id='bgp'>
        <div style='padding-left: 120px;padding-top: 50px;width:400px;'>
            <h1 style='color:silver' >ARJ21</h1>
            <p style='color:silver'>
                ARJ21新支线飞机是中国首次按照国际民航规章自行研制、具有自主知识产权的中短程新型涡扇支线飞机，
                座级78座至90座，航程2225公里至3700公里，主要用于满足从中心城市向周边中小城市辐射型航线的使用。 
                飞机最大起飞重量40500千克，最大使用高度11900米，最大航程3700公里，
                设计经济寿命为60000飞行小时/20个日历年。
            </p>
        </div>     
    </div><!--放背景图-->
   
    <div class="ui pointing demo menu"><!-- demo 是自定义的类选择器名称-->
        <a class="active item" data-tab="first">单机履历</a>
        <a class="item" data-tab="second">事件清单</a>
        <a class="item" data-tab="third">问题清单</a>
    </div>
    <div class="ui active tab segment" data-tab="first">
            <div class="ui two column stackable center aligned grid">
                    <div class="middle aligned row">
                      <div class="column">
                       <a href='#'>
                           <div id="10101" class="ui teal button" val="10101">101架机</div>
                       </a>
                       <br><br><br>
                       <a href='#'>
                           <div id="10102" class="ui teal button" val="10102">102架机</div>
                       </a>
                       <br><br><br>
                       <a href='#'>
                           <div id="10103" class="ui teal button" val="10103">103架机</div>
                       </a>
                       <br><br><br>
                       <a href='#'>
                           <div id="10104" class="ui teal button" val="10104">104架机</div>
                       </a>
                      </div>
                      <div class="column">
                          <br>
                          <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                          <div>
                            <div id="events_all" style="width: 600px;height:400px;"></div>
<!--
                            <div id="plane_echarts"></div>
                              <div id="events_month" style="width: 600px;height:400px;"></div>
                              <div id="events_ATA" style="width: 600px;height:400px;"></div>
-->
                          </div>
                      </div>
                    </div>
            </div>
    </div>
    <div class="ui tab segment" data-tab="second">
        <h2 align=center>记载试飞，取证及运行过程中各方反馈的事件数据</h2>
        <h2 align=center>下面是事件数据的图表展示</h2>
        <a href="#">
            <div class="ui right floated button" >查看所有事件</div>
        </a>
    <br>
    <br>
    </div>
    <div class="ui tab segment" data-tab="third">
        <h2 align=center>记载试飞，取证及运行过程中从事件中总结出的具体问题数据</h2>
        <h2 align=center>下面是问题数据的图表展示</h2>
        <a href="#">
            <div class="ui right floated button" >查看所有问题</div>
        </a>
    <br>
    <br>
    </div>


    <script src="../../static/js/js_address.js"></script>
    <script type="text/javascript">
    //demo 是自定义的类选择器名称
    $(function (){
        //jQuery UI的Tab也是这样，可能也许大概说不准也依赖jquery.address
        $('.demo.menu .item').tab();//menu与.item之间一定要有一个空格，才能实现切换tab的功能
    })
    </script>
<style>
    #bgp{
        background-image: url('../../static/images/ARJ21.jpg');
        background-repeat:no-repeat;
        height: 550px;
        background-size:100% 100%;
        margin-top: 32px;
    };
</style>
</body>
{% include "foot.html" %}