{% load static %}
{% include "head.html" %}
<body>
    <br><br><br><br>
    <div class="ui pointing demo menu"><!-- demo 是自定义的类选择器名称-->
        <a class="active item" data-tab="first">单机履历</a>
        <a class="item" data-tab="second">事件清单</a>
        <a class="item" data-tab="third">问题清单</a>
    </div>
    <div class="ui active tab segment" data-tab="first">
            <div class="ui two column stackable center aligned grid">
                    <div class="middle aligned row">
                      <div class="column">
                       <a href="{% url 'intra_type_data:resume_10101' %}">
                           <div id="10101" class="ui teal button" val="10101">10101架机</div>
                       </a>
                       <br><br><br>
                       <a href="{% url 'intra_type_data:resume_10101' %}">
                           <div id="10102" class="ui teal button" val="10102">10102架机</div>
                       </a>
                       <br><br><br>
                       <a href="{% url 'intra_type_data:resume_10101' %}">
                           <div id="10103" class="ui teal button" val="10103">10103架机</div>
                       </a>
                       <br><br><br>
                       <a href="{% url 'intra_type_data:resume_10101' %}">
                           <div id="10104" class="ui teal button" val="10104">10104架机</div>
                       </a>
                      </div>
                      <div class="column">
                          <br>
                          <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                          <div>
                            <div id="events_all" style="width: 600px;height:400px;"></div>
<!--
                            <div id="plane_echarts"></div>
                              <div id="events_month" style="width: 600px;height:400px;"></div>
                              <div id="events_ATA" style="width: 600px;height:400px;"></div>
-->
                          </div>
                      </div>
                    </div>
            </div>
    </div>
    <div class="ui tab segment" data-tab="second">
        <h2 align=center>记载试飞，取证及运行过程中各方反馈的事件数据</h2>
        <h2 align=center>下面是事件数据的图表展示</h2>
        <a href="{% url 'intra_type_data:event_info_list' %}">
            <div class="ui right floated button" >查看所有事件</div>
        </a>
    <br>
    <br>
    </div>
    <div class="ui tab segment" data-tab="third">
        <h2 align=center>记载试飞，取证及运行过程中从事件中总结出的具体问题数据</h2>
        <h2 align=center>下面是问题数据的图表展示</h2>
        <a href="{% url 'intra_type_data:problem_info_list' %}">
            <div class="ui right floated button" >查看所有问题</div>
        </a>
    <br>
    <br>
    </div>


    <script src="../../static/js/js_address.js"></script>
    <script type="text/javascript">
    //demo 是自定义的类选择器名称
    $(function (){
        //jQuery UI的Tab也是这样，可能也许大概说不准也依赖jquery.address
        $('.demo.menu .item').tab();//menu与.item之间一定要有一个空格，才能实现切换tab的功能
    })
    </script>
</body>
{% include "foot.html" %}

<script type="text/javascript">
$(document).ready(function(){
    var option = {
        title: {
            text: '机队事件数量对比',
            x:"center",
            y:"top"
        },
        tooltip: {},
        legend: {
            data:['事件数'],
            top:"6%"
        },
        xAxis: {
            data:[{% for i in C919_fleet %}{{i}},{% endfor %}]
        },
        yAxis: {},
        series: [{
            name: '事件数',
            type: 'bar',
            data:[{% for i in eve_num %}{{i}},{% endfor %}]
        }]
    };
    var myChart = echarts.init(document.getElementById('events_all'))
    myChart.setOption(option)
    
//    获取鼠标移动到按钮上的图表
    $("#10101").mouseover(function(){
        var option = {
            title: {
                text: '10101架机分ATA章节事件数',
                x:"center",
                y:"top"
            },
            tooltip: {},
            legend: {
                data:['事件数'],
                top:"6%"
            },
            xAxis: {
                data:[{% for i in eve_ATA %}{{i}},{% endfor %}]
            },
            yAxis: {},
            series: [{
                name: '数量',
                type: 'bar',
                data:[{% for i in eve_ATA_num %}{{i}},{% endfor %}]
            }]
        };   

        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('events_all'));

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
      });
    
//    获取鼠标移开按钮时的图表
    $("#10101").mouseout(function(){
      var option = {
        title: {
            text: '机队事件数量对比',
            x:"center",
            y:"top"
        },
        tooltip: {},
        legend: {
            data:['事件数']
        },
        xAxis: {
            data:[{% for i in C919_fleet %}{{i}},{% endfor %}]
        },
        yAxis: {},
        series: [{
            name: '事件数',
            type: 'bar',
            data:[{% for i in eve_num %}{{i}},{% endfor %}]
        }]
      }; 

        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('events_all'));

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    });
    
    
});
</script>
