{% load static %}
{% include "head.html" %}
<body>
    <div id='bgp'>
        <div style='padding-left: 120px;padding-top: 30px;width:700px;'>
            <h1  >CR929</h1>
            <p>
                CR929远程宽体客机是中俄联合研制的双通道民用飞机，以中国和俄罗斯及独联体市场为切入点，
                同时广泛满足全球国际间、区域间航空客运市场需求。CR929远程宽体客机采用双通道客舱布局，
                基本型命名为CR929-600，航程为12000公里，座级280座。
            </p>
        </div>     
    </div><!--放背景图-->
<style>
    #bgp{
        background-image: url('../../static/images/CR929.jpg');
        background-repeat:no-repeat;
        height: 550px;
        background-size:100% 100%;
        margin-top: 32px;
    };
</style>
</body>
{% include "foot.html" %}