{% load static %}
{% include "head.html" %}
<body>
    <!-- Sidebar Menu -->
    <div class="ui  inverted left vertical sidebar menu">
        <div class="item">
            <h2 class="ui blue header">COMAC AIRPLANE</h2>
        </div>
                <div class="item">
                  <a class="header" href="{% url 'data_platform:index' %}">主页</a>
                </div>
                <div class="item">
                    <a class = "header" href="{% url 'intra_type_data:intra_type_data' %}">型号飞机数据</a> 
                    <div class="item">
                         <a class = "header" href="{% url 'intra_type_data:C919_5G' %}">C919</a>
                        <div class = "menu">
                            <a class = "item" href = "{% url 'intra_type_data:C919_5G' %}">单机履历表</a>
                            <a class = "item" href = "{% url 'intra_type_data:C919_5G' %}">事件数据</a>
                            <a class = "item" href = "{% url 'intra_type_data:C919_5G' %}">问题数据</a>
                        </div>
                    </div>
                </div>              
    </div>
    <br>
    <!-- 侧边栏图形 -->
    <i class = "big sidebar icon" id="sidebar"></i>
    <!-- 面包屑导航 -->
    <div class="ui breadcrumb">
            <a class="section" href="{% url 'data_platform:index' %}">主页</a>
            <i class="right angle icon divider"></i>
            <a class="active section" style=color:black>型号飞机数据</a>
    </div>
    <br> 
    <br> 
    <div class="ui container">
            <h1 style="text-align:center">型号飞机数据</h1>
    </div>
    <br><br><br>
    
    <div class="ui three column grid">
            <div class="column">
              <div class="ui fluid card">
                <div class="image">
                  <img src="../../static/images/ARJ21.jpg">
                </div>
                <div class="content">
                  <a class="header" href="{% url 'intra_type_data:ARJ21' %}">ARJ21</a>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="ui fluid card">
                <div class="image">
                  <img src="../../static/images/C919.jpg">
                </div>
                <div class="content">
                  <a class="header" href="{% url 'intra_type_data:C919_5G' %}">C919</a>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="ui fluid card">
                <div class="image">
                  <img src="../../static/images/CR929.jpg">
                </div>
                <div class="content">
                  <a class="header" href="{% url 'intra_type_data:CR929' %}">CR929</a>
                </div>
              </div>
            </div>
          </div>
    <!--<div class="ui six centered cards">
        <div class="card">
            <a class="content" href="{% url 'intra_type_data:C919' %}" style="display: block; text-align: center;">
                <i class='massive plane icon'></i>   
            </a>
            <div class="content">
                <a href="{% url 'intra_type_data:C919' %}" class="header" style="display: block; text-align: center;">C919</a>
            </div>
            <div class="description">
            </div>
        </div>
        <div class="card">
            <a class="content" href="#" style="display: block; text-align: center;">
                <i class=' massive fighter jet icon'></i>   
            </a>
            <div class="content">
                <a href="#" class = "header" style="display: block; text-align: center;">ARJ21</a>
            </div>
            <div class="description">
            </div>
        </div>
        <div class="card">
            <a class="content" href="#" style="display: block; text-align: center;">
                <i class="massive space shuttle icon"></i>  
            </a>
            <div class="content">
                <a href="#" class="header" style="display: block; text-align: center;">CR929</a>
            </div>
            <div class="description">
            </div>
        </div>
    </div>-->
    <!--Semantic ui sidebar display-->
    <script>
        $('#sidebar').click(function(){
    
            $('.ui.sidebar').sidebar('toggle');
        });
    </script>
</body>
{% include "foot.html" %}