{% load static %}
{% include "head.html" %}
<body>
 <!-- 面包屑导航 -->
 <div class="ui breadcrumb">
        <a class="section" href="{% url 'data_platform:index' %}">主页</a>
        <i class="right angle icon divider"></i>
        <a class="section" style=color:black href="{% url 'intra_type_data:C919_5G'%}">型号飞机数据</a>
        <i class="right angle icon divider"></i>
        <a class="active section" style=color:black>10101架机履历表</a>
</div>
<br><br><br> 
<div class="ui centered card">
        <div class=" content">
                <div class="center aligned header">10101架机最新讯息</div>
                <div class=description>
                <p>1.10101架机于XXXX年XX月XX日完成XX试验</p>
                <p>2.10101架机于XXXX年XX月XX日试飞过程中发生XX问题</p>
                <p>3.10101架机已累计飞行XX小时，总起落次数XX次</p>
        </div>
        </div>
</div>
<br>
<HR align=center width="60%" SIZE=7>
<br> 
<h2 align=center>历史数据</h2>
<div class="ui container">
<div class="ui two column stackable center aligned grid">
    <div class="middle aligned row">
      <div class="ten wide column">
        <div class="ui form">
          <div class='fields'> 
              <div class='one wide field'>
                 <p>from</p>
              </div>
              <div class='four wide field'>
                <select id="start_y" class="field">
                  {% for y in years %}
                    <option class="start_y_option">{{y}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class='four wide field' >
                <select id="start_m" class="field">
                  {% for m in months %}
                    <option class="start_m_option">{{m}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class='four wide field'>
                <select id="start_d" class="field">
                  {% for d in days %}
                    <option class="start_d_option">{{d}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class='one wide field'>
                 <p>to</p>
              </div>
              <div class='four wide field'>
                <select id="end_y" class="field">
                  {% for y in years %}
                    <option class="end_y_option">{{y}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class='four wide field'>
                <select id="end_m" class="field">
                  {% for m in months %}
                    <option class="end_m_option">{{m}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class='four wide field'>
                <select id="end_d" class="field">
                  {% for d in days %}
                    <option class="end_d_option">{{d}}</option>
                  {% endfor %}
                </select>
              </div>
          </div>
          <div class='fields'>
            <div class='two wide field'>
              <p>飞行架次</p>
            </div>
            <div class='four wide field'>
              <select id="plane_no" class="field">
                  {% for plane in C919_fleet %}
                    <option class="plane_no_option">{{plane}}</option>
                  {% endfor %}
              </select>
            </div>
            <div class='two wide field'>
              <p>
              <button id='search'>查询</button>
              </p>
            </div> 
          </div>
        </div>
        <div style="width:700px;height:400px;background-color:#D7D7D7">
        <div style="padding-left:40px;padding-right:40px;padding-bottom:20px;padding-top:20px">
          <div class="ui form">
            <div class='fields' id="tab_menu">
              <div class='three wide field'>
                 <a class="active item" data-tab="first" style="color:black"><h3>飞行器概况</h3></a>
              </div>
              <div class='three wide field'>
                 <a class="item" data-tab="second" style="color:black"><h3>飞行记录</h3></a>
              </div>
              <div class='three wide field'>
                 <a class="item" id="tab_event_record" data-tab="third" style="color:black"><h3>事件记录</h3></a>
              </div>
              <div class='four wide field'>
                 <a class="item" data-tab="forth" style="color:black"><h3>部件失效记录</h3></a>
              </div>
            </div>
          </div>
          <div class="ui active tab segment" style="border:1px solid #797979;width:620px;height:310px" data-tab="first">
            <div class="ui form">
              <div class="fields">
                <div class="field"><p>机型：</p></div>
                <div class="field"><p></p></div>
              </div>
              <div class="fields">
                <div class="field"><p>飞机注册号：</p></div>
                <div class="field"><p></p></div>
              </div>
              <div class="fields">
                <div class="field"><p>飞机生产序列号：</p></div>
                <div class="field"><p></p></div>
              </div>
              <div class="fields">
                <div class="field"><p>发动机序列号：</p></div>
                <div class="field"><p></p></div>
              </div>
              <div class="fields">
                <div class="field"><p>飞机拥有者：</p></div>
                <div class="field"><p></p></div>
              </div>
              <div class="fields">
                <div class="field"><p>飞行循环：</p></div>
                <div class="field"><p></p></div>
              </div>
              <div class="fields">
                <div class="field"><p>飞行时间：</p></div>
                <div class="field"><p></p></div>
              </div>
            </div> 
          </div>
          <div class="ui tab segment"  style="border:1px solid #797979;width:620px;height:310px" data-tab="second">
          <table id="fly_record" class="ui striped table" style="width:590px;height:280px">
              <thead>
              <tr>
                <th>飞行日期</th>
                <th>飞行类型</th>
                <th>着陆时间</th>
                <th>起飞时间</th>
                <th>飞行时间</th>
              </tr>
              </thead>
              <tbody>
              </tbody>
          </table>
          </div>
          <div class="ui tab segment" style="border:1px solid #797979;width:620px;height:310px" data-tab="third">
          <table id="event_record" class="ui striped table">
              <thead id="event_record_head">
              <tr>
                <th>问题描述</th>
                <th>发生时间</th>
                <th>ATA章节</th>
                <th>排故概况</th>
                <th>关闭情况</th>
              </tr>
              </thead>
              <tbody id="event_record_body">
              </tbody>
          </table>
          <a href="{% url 'intra_type_data:event_info_list' %}"><button id="detail_button" type='button'>查看详细信息</button></a>
          </div>
        </div>
        </div>
      </div>
      <div class="six wide column">
          <br>
            <select id="echarts_type" class="field" style="position:relative;left:-130px">
              <option value="bar" selected="selected">柱状图</option>
              <option value="pie">饼图</option>
            </select>
<!--           为ECharts准备一个具备大小（宽高）的Dom -->
            <div id="events_all" style="width: 400px;height:400px;"></div>
      </div>
    </div>
</div>
</div>


    <script src="../../static/js/js_address.js"></script>
    <script type="text/javascript">
    //demo 是自定义的类选择器名称
    $(function (){
        //jQuery UI的Tab也是这样，可能也许大概说不准也依赖jquery.address
        $('#tab_menu .item').tab();//menu与.item之间一定要有一个空格，才能实现切换tab的功能
    })
    </script>
{% include "foot.html" %}

<script>
$(document).ready(function(){
    //确定下拉框初始选中的选项
    $(".end_y_option:last").attr("selected","selected");
    $(".end_m_option:last").attr("selected","selected");
    $(".end_d_option:last").attr("selected","selected");
    $(".plane_no_option:last").attr("selected","selected");
    
    //绘制原始图像
    var option = {
        title: {
            text: '各ATA章节事件数',
            x:"center",
            y:"top"
        },
        tooltip: {},
        legend: {
            data:['事件数'],
            top:"6%"
        },
        xAxis: {
            data:[{% for i in eve_ATA_origin %}{{i}},{% endfor %}]
        },
        yAxis: {},
        series: [{
            name: '数量',
            type: 'bar',
            data:[{% for i in eve_ATA_num_origin %}{{i}},{% endfor %}]
        }]
    }; 
    var myChart = echarts.init(document.getElementById('events_all'))
    myChart.setOption(option)
    
    //url
    var urlparam = "{% url 'intra_type_data:resume_10101' %}"
    
    //设置函数判断echarts类型而修改绘图的option
    function choose_option (etype,data){
        if (etype=='bar'){
            var option = {
                title: {
                    text: '各ATA章节事件数',
                    x:"center",
                    y:"top"
                },
                tooltip: {                
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c}"
                },
                legend: {
                    data:['事件数'],
                    top:"6%"
                },
                xAxis: {
                    data:data['eve_ATA'],
                    show:true
                },
                yAxis: {show:true},
                series: [{
                    name: '数量',
                    type: 'bar',
                    data:data['eve_ATA_num']
                }]
            };   
        }
        else if (etype=='pie'){
          var series_data=[];
          for (var i=0;i<data['eve_ATA'].length;i++){
            series_data.push({
                name:data['eve_ATA'][i],
                value:data['eve_ATA_num'][i],
            })
          }
          option = {
            title: {
                text: '各ATA章节事件数',
                left: 'center',
            },
            //隐藏饼图的横纵坐标
            xAxis : [{
                show : false,
            }],
            yAxis : [{
                show : false,
            }],
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend:{
                show:true,
                type:"scroll",
                orient:'horizontal',
                left:'center',
                top:40,
                data:data['eve_ATA']
            },
            color:['red','blue'],
            series:[{
                    name:'数量',
                    type:'pie',
                    radius : '55%',
                    center: ['50%', '50%'],
                    label:{
                        normal:{
                            formatter:'{b|{b}} {per|{d}%}',
                            rich:{
                                b:{
                                    color:'white',
                                    fontSize:14,
                                    lineHeight:33
                                },
                                per:{
                                    color:"#00B4FB",
                                    fonSize:14,
                                    borderRadius:2
                                }
                            }
                        }
                    },
                    data:series_data,
                    itemStyle:{
                        emphasis:{
                            shadowBlur:10,
                            shadowOffsetX:0,
                            shadowColor:'rbdd(0,0,0,0.5)'
                        }
                    }
            }]
          };
        }
        return option;
    };
    
    
    //设置tab页面中的datatable表格
    function initDataTable(lengthMenuParam,urlparam,columnsParam){
      return{
          "pagingType":"simple_numbers",
          destroy:true,
          "searching":false,
          "bPaginate" : true,// 分页按钮
          "scroll":true,
          serverSide:true,//开启服务器模式
          bProcessing:true,//开启读取服务器数据时显示正在加载中......
          sAjaxSource:urlparam,//ajax向后端请求的网址
          "fnServerData":function(sSource,aoData,fnCallback){
            $.ajax({
                "dataType":'json',
                "type":"post",
                "url":sSource,
                "data":{"aoData":JSON.stringify(aoData),
                        start_y:$("#start_y").find("option:selected").text(),
                        start_m:$("#start_m").find("option:selected").text(),
                        start_d:$("#start_d").find("option:selected").text(),
                        end_y:$("#end_y").find("option:selected").text(),
                        end_m:$("#end_m").find("option:selected").text(),
                        end_d:$("#end_d").find("option:selected").text(),
                        plane_no:$("#plane_no").find("option:selected").text()},
                "success":function(resp){
                    fnCallback(resp);
                },
            });
          },
          "columns":columnsParam,
          dom:"frtip",
          "language": {
            "sProcessing": "处理中...",
            "sLengthMenu": "显示 _MENU_ 项结果",
            "sZeroRecords": "没有匹配结果",
            "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
            "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
            "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
            "sInfoPostFix": "",
            "sSearch": "搜索:",
            "sUrl": "",
            "sEmptyTable": "表中数据为空",
            "sLoadingRecords": "载入中...",
            "sInfoThousands": ",",
            "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "上页",
                "sNext": "下页",
                "sLast": "末页"
            },
            "oAria": {
                "sSortAscending": ": 以升序排列此列",
                "sSortDescending": ": 以降序排列此列"
            },
          },
      }
    };
    
    
    //点击事件记录会出现datatable数据
    $("#tab_event_record").click(function(){ 
      var lengthMenuParam = 
        '<div class="btn-group">'
        '</div>';
      
      var urlparam_datatable = "{% url 'intra_type_data:getdatatable' %}";
        
      var columnsParam_event_record = [
            {data:"event_description"},
            {data:"occurrence_time"},
            {data:"ata_chapter"},
            {data:"troubleshooting"},
            {data:"event_state"}];
      var table_event_record = $("#event_record").DataTable(initDataTable(lengthMenuParam, urlparam_datatable, columnsParam_event_record));
    });
    
    
    //更改日期选择框中的月份后，可选择的日子需要更改，如10月有31号，而11月仅有30号
    $("#start_m").change(function(){
      $.get("{% url 'intra_type_data:getdate' %}",
      {
        month:$(this).find("option:selected").text(),
        //jQuery获取select标签选中的月份
      },
            
      function(days_m){
        var content = '';
        for(let i=1;i<(days_m+1);i++){
            content += '<option class="start_d_option">'+i+'</option>';
        }
        $('#start_d').html(content);
      })
    });
    $("#end_m").change(function(){
      $.get("{% url 'intra_type_data:getdate' %}",
      {
        month:$(this).find("option:selected").text(),
        //jQuery获取select标签选中的月份
      },
            
      function(days_m){
        var content = '';
        for(let i=1;i<(days_m+1);i++){
            content += '<option class="end_d_option">'+i+'</option>';
        }
        $('#end_d').html(content);
      })
    });
    
    //绘制改变飞机架次号和日期后的echarts图像
    $("#search").click(function(){
      $.post(urlparam,
      {
        start_y:$("#start_y").find("option:selected").text(),
        start_m:$("#start_m").find("option:selected").text(),
        start_d:$("#start_d").find("option:selected").text(),
        end_y:$("#end_y").find("option:selected").text(),
        end_m:$("#end_m").find("option:selected").text(),
        end_d:$("#end_d").find("option:selected").text(),
        plane_no:$("#plane_no").find("option:selected").text(),
        //jQuery获取select标签选中的option中的文本
      },
      function(data){
        etype = $("#echarts_type").find("option:selected").val()
        option = choose_option(etype,data);
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('events_all'));

        // 使用刚指定的配置项和数据显示echarts图像
        myChart.setOption(option);
      })
    });
    
    
    //绘制改变飞机架次号和日期后的datatable图表
    //需重新设置views.py和url来绘制datatable
    $("#search").click(function(){
      var lengthMenuParam = 
        '<div class="btn-group">'
        '</div>';
      
      var urlparam_datatable = "{% url 'intra_type_data:getdatatable' %}";
          
      var columnsParam_event_record = [
            {data:"event_description"},
            {data:"occurrence_time"},
            {data:"ata_chapter"},
            {data:"troubleshooting"},
            {data:"event_state"}];
      var table_event_record = $("#event_record").DataTable(initDataTable(lengthMenuParam, urlparam_datatable, columnsParam_event_record));
    });
    
    //更改echart类型也要重新绘制
    $("#echarts_type").change(function(data){
      $.post(urlparam,
      {
        start_y:$("#start_y").find("option:selected").text(),
        start_m:$("#start_m").find("option:selected").text(),
        start_d:$("#start_d").find("option:selected").text(),
        end_y:$("#end_y").find("option:selected").text(),
        end_m:$("#end_m").find("option:selected").text(),
        end_d:$("#end_d").find("option:selected").text(),
        plane_no:$("#plane_no").find("option:selected").text()
        //jQuery获取select标签选中的option中的文本
      },
      function(data){
        etype = $("#echarts_type").find("option:selected").val()
        option = choose_option(etype,data);
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('events_all'));

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
      });

    });

});
</script>


<!--设置tab页面datatable的格式-->
<style type="text/css">
#event_record {
    table-layout: fixed;
    text-align: center;
/*    width: 100%;*/
    width:590px;
    height:170px;
}
#event_record_head th {
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
/*    对于显示不完的内容用...表示*/
    overflow: hidden;
/*    是否有显示条*/
}
#event_record_body td {
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#event_record_body {
    display: block;
    height:170px;
    overflow-y: scroll;
}
#event_record_head tr, #event_record_body tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
    
#detail_button {
    background-color:skyblue!important;
    border:0px;
    width:120px;
    height:30px;
    position:relative;
    top:-30px;
    left:230px;
}
    
#event_record_paginate {
    position:relative;
    left:-80px;
}
#event_record_info {
    position:relative;
    left:-80px;
}
</style>